.sideBar {
  position: relative;
  height: calc(100vh - var(--navbar-height));
  width: 300px;
  background: var(--inverted-bg-color);
  transition: width 0.5s ease;
}

.switchers {
  position: absolute;
  bottom: 20px;
  display: flex;
  justify-content: center;
  width: 100%;
  gap: 20px;
}

.sideBarCollapsed {
  width: 80px;

  & .switchers {
    flex-direction: column;
    align-items: center;
    gap: 0;
  }
}

.collapseBtn {
  position: absolute;
  right: -32px;
  bottom: 32px;
}

.links {
  margin-top: 20px;
  margin-left: 30px;
  display: flex;
  flex-direction: column;
}

// .link {
//   margin-top: 10px;
//   display: flex;
//   align-items: center;
//   opacity: 1;
// }

// .linkIcon {
//   fill: var(--inverted-primary-color);
// }
