.sideBar {
    position: relative;
    height: calc(100vh - var(--navbar-height));
    width: 300px;
    background: var(--inverted-bg-color);

    transition: width .5s ease;
}

.sideBarCollapsed {
    width: 80px;
}

.switchers {
    position: absolute;
    bottom: 20px;
    display: flex;
    justify-content: center;
    width: 100%;
    gap: 20px;
}