.LIST {
  margin-bottom: 30px;
}

.PLATE {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;

  .card {
    display: inline-block;
    height: 300px;
  }

  .row {
    display: flex;
    gap: 30px;
  }
}
