.cardWrapper {
  padding: 20px;
  border: 2px solid var(--inverted-bg-color);
}

.cardHeader {
  display: flex;
}

.editButton {
  margin-left: auto;
}

.cardData {
  margin-top: 30px;
}

.cardInput {
  margin-top: 10px;
}
